body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

/* for item iconic buttons */
#todo-list .item-buttons > span {
    display: inline-block;
    width: 26px;
    height: 26px;
    line-height: 26px;
    vertical-align: text-top;        
}

#todo-list .todo-float-buttons {
    float: right;
}

#todo-list .todo-done {
    background: url('../img/todo-icons.png') no-repeat 0 -26px;
}
#todo-list .todo-not-done {
    background-position: 0 0;
}

#todo-list .todo-destroy {
    background: url('../img/todo-icons.png') no-repeat -52px 0;
}
#todo-list .todo-destroy:hover {
    background-position: -52px -26px;
}

#todo-list .todo-edit{
    background: url('../img/todo-icons.png') no-repeat -26px 0;
}
#todo-list .todo-edit:hover {
    background-position: -26px -26px;
}

#todo-list .todo-content {
    margin: 10px;
}

#todo-stats {
    margin-bottom: 10px;
}
