<td>
    <div class="show-item row-fluid">
        <div class="todo-indicator pull-left item-buttons">
            <span class="<%= done ? 'todo-done' : 'todo-not-done' %>"></span>            
        </div>
        
        <span class="todo-content"><%= content %></span>
            
        <div class="pull-right item-buttons">
            <span class="todo-edit"></span>
            <span class="todo-destroy"></span>
        </div>                
    </div>

    <div class="edit-item input-append hidden">
        <input type="text" class="todo-input input-medium" value="<%= content %>"><button type="submit" class="btn">Create</button>
    </div>
</td>