<td>
  <div class="form-inline">
    <div class="show-item">
      <label class="checkbox todo-content span4">
        <input type="checkbox" <%= done ? 'checked="checked"' : '' %> >
        <div class="<%= done ? 'done' : '' %>"><%= content %></div>
      </label> 
      
      <div class="pull-right">
        <button class="todo-edit btn btn-small">Edit</button>
        <button class="todo-destroy btn btn-small btn-danger">&times;</button>
      </div>
    </div>
      
    <div class="edit-item hidden">
      <input class="todo-input" type="text" value="<%= content %>" />
    </div>
  </div>
</td>
